html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, input, textarea, button, nav, span, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: arial;
  background: #EDE3D8;
  padding: 20px;
  max-width: 806px;
}

canvas {
  border: solid #9E7909;
}

#score {
  float: right;
  font-weight: bold;
  text-shadow: 2px 2px gray;
  font-size: 64px;
  text-align: right;
  min-width: 200px;
  color: gold;
  background: white;
  border: 1px solid gold;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
  padding: 5px;
  margin-right: 20px;
}

#instructions {
  margin-left: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #999;
}
